.box-within {
    align-items: normal;
    display: flex;
    justify-content: flex-start;
    padding: 55px 0 0;
    flex-wrap: wrap;
}

.drop-down-box,
.text-crawl-box,
.character-table-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.character-table-box,
.drop-down-box {
    align-items: center;
}

@media (min-width: 1024px) {
    .drop-down-box,
    .text-crawl-box,
    .character-table-box {
        flex-direction: row;
        width: 33.3%;
    }

    .drop-down-box {
        align-items: unset;
    }
}
